@charset "UTF-8";
@font-face {
  font-family: Pigiarniq;
  src: url("../fonts/Pigiarniq_Regular.ttf");
}
/* bootstrap */
/* line 5, ../sass/custom.sass */
.container-fluid {
  height: 100%;
}
/* line 8, ../sass/custom.sass */
.container-fluid .row {
  height: 100%;
}

/* S├®mantique */
/* line 13, ../sass/custom.sass */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/custom.sass */
html body {
  height: 100%;
  margin: 0;
}
/* line 22, ../sass/custom.sass */
html .bg-header {
  background: #2DC89B;
  padding: 5px 0;
  color: #fff;
  font-weight: bold;
  line-height: 2;
}
/* line 29, ../sass/custom.sass */
html .bg-header .school-name {
  font-size: 24px;
  color: #ff3058;
  text-align: center;
  font-family: Pigiarniq;
}
/* line 35, ../sass/custom.sass */
html .content {
  float: left;
  padding: 0;
}
/* line 39, ../sass/custom.sass */
html .content .calendar {
  padding: 0 15px;
}
/* line 42, ../sass/custom.sass */
html aside.col-lg-2 {
  background: #383d41;
  height: 100%;
  position: fixed;
  color: #fff;
  padding: 15px 0;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 52, ../sass/custom.sass */
html aside.col-lg-2 .wrap {
  margin-top: 40px;
  margin-bottom: 60px;
}
/* line 57, ../sass/custom.sass */
html aside.col-lg-2 footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  right: 20%;
  left: 20%;
  text-align: center;
}
/* line 65, ../sass/custom.sass */
html nav {
  margin-top: 60px;
}
/* line 68, ../sass/custom.sass */
html nav li {
  background: #2DC89B;
  margin-bottom: 10px;
  text-align: center;
}
/* line 73, ../sass/custom.sass */
html nav li a {
  color: #fff;
  font-weight: bold;
}
/* line 77, ../sass/custom.sass */
html nav li a:hover {
  color: #fff;
}

/* line 81, ../sass/custom.sass */
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #2DC89B;
}

/* texte */
/* line 85, ../sass/custom.sass */
h2 {
  color: #ff3058;
  text-align: center;
  font-weight: bold;
}

/* line 90, ../sass/custom.sass */
h3 {
  color: #ff3058;
}

/* line 94, ../sass/custom.sass */
.indice {
  display: inline-block;
  margin-top: 15px;
  color: #2DC89B;
  font-weight: bold;
}

/* line 100, ../sass/custom.sass */
.logo {
  text-align: center;
  color: #ff3058;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

/* tableau */
/* line 108, ../sass/custom.sass */
.planning {
  width: 100%;
  heaight: 100%;
  color: #383d41;
  text-align: center;
  border: 2px solid #2DC89B;
}
/* line 116, ../sass/custom.sass */
.planning thead td {
  border: 1px solid #fff;
  background: #2DC89B;
}
/* line 121, ../sass/custom.sass */
.planning tbody tr {
  height: 50px;
}
/* line 124, ../sass/custom.sass */
.planning tbody tr td {
  border: 1px solid #2DC89B;
  width: 7.0%;
}
/* line 128, ../sass/custom.sass */
.planning tbody tr td:nth-of-child(2+n) {
  display: none;
}

/* formulaire */
/* line 132, ../sass/custom.sass */
.form-control {
  background: #383d41;
  color: #fff;
  font-weight: bold;
  margin: 10px auto;
}
/* line 138, ../sass/custom.sass */
.form-control option {
  text-align: center;
  font-weight: bold;
}
/* line 142, ../sass/custom.sass */
.form-control option:focus {
  background: #2DC89B;
}

/* line 146, ../sass/custom.sass */
label {
  width: 210px;
  display: block;
  margin: 15px auto;
}
/* line 151, ../sass/custom.sass */
label .btn-add-form {
  height: 24px;
  border: 2px solid #fff;
  padding: 2px;
  background: #383d41;
  color: #fff;
  width: 100%;
}
/* line 159, ../sass/custom.sass */
label .btn-add-form-date {
  width: 30%;
  height: 24px;
  border: 2px solid #fff;
  padding: 2px;
  background: #383d41;
  color: #fff;
}

/* line 168, ../sass/custom.sass */
.btn-add-form[type="submit"] {
  background: #fff;
  color: #383d41;
  width: 120px;
  height: 40px;
  display: block;
  margin: 25px auto;
  border: none;
}

/* autres */
/* line 180, ../sass/custom.sass */
hr {
  border-top: 1px solid #69737A;
}

/*  */
/* line 185, ../sass/custom.sass */
.wrap-co {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 220px;
  margin-left: -150px;
  margin-top: -110px;
  border: 1px solid #ff3058;
  box-sizing: padding-box;
  padding: 5px 20px;
}
/* line 197, ../sass/custom.sass */
.wrap-co h3, .wrap-co p {
  text-align: center;
}
/* line 200, ../sass/custom.sass */
.wrap-co input {
  width: 100%;
  margin-bottom: 15px;
  padding: 0 5px;
}

/* line 205, ../sass/custom.sass */
.btn-planning, .btn-planning-admin {
  background: #383d41;
  color: #fff;
  margin: 10px 0;
  width: 150px;
  font-weight: bold;
  position: relative;
}

/* line 216, ../sass/custom.sass */
.btn-planning-admin i {
  position: absolute;
  right: 10px;
  top: 10px;
}
