@charset "UTF-8";
@font-face {
  font-family: Pigiarniq;
  src: url("../fonts/Pigiarniq_Regular.ttf");
}
/* bootstrap */
/* line 6, ../sass/custom.sass */
.container-fluid {
  height: 100%;
}
/* line 9, ../sass/custom.sass */
.container-fluid .row {
  height: 100%;
}

/* S├®mantique */
/* line 14, ../sass/custom.sass */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 19, ../sass/custom.sass */
html body {
  height: 100%;
  margin: 0;
}
/* line 23, ../sass/custom.sass */
html .bg-header {
  background: #2DC89B;
  padding: 5px 0;
  color: #fff;
  font-weight: bold;
  line-height: 2;
}
/* line 30, ../sass/custom.sass */
html .bg-header .school-name {
  font-size: 24px;
  color: #ff3058;
  text-align: center;
  font-family: Pigiarniq;
}
/* line 36, ../sass/custom.sass */
html .content {
  float: left;
  padding: 0;
}
/* line 40, ../sass/custom.sass */
html .content .calendar {
  padding: 0 15px;
}
/* line 43, ../sass/custom.sass */
html aside.col-lg-2 {
  background: #383d41;
  height: 100%;
  position: fixed;
  color: #fff;
  padding: 15px 0;
  top: 0;
  right: 0;
}
/* line 52, ../sass/custom.sass */
html aside.col-lg-2 .wrap {
  width: 80%;
  margin: 0 10%;
}
/* line 56, ../sass/custom.sass */
html aside.col-lg-2 .wrap-form {
  width: 90%;
  margin: 0 5%;
}
/* line 60, ../sass/custom.sass */
html aside.col-lg-2 .wrap-form h3 {
  text-align: center;
}
/* line 66, ../sass/custom.sass */
html aside.col-lg-2 footer {
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  right: 20%;
  left: 20%;
  text-align: center;
}
/* line 74, ../sass/custom.sass */
html nav {
  margin-top: 60px;
}
/* line 77, ../sass/custom.sass */
html nav a.btn {
  color: #fff;
  width: 80%;
  text-align: left;
  margin: 0 10%;
}
/* line 83, ../sass/custom.sass */
html nav a.btn:hover {
  color: #fff;
  background: #2DC89B;
}

/* line 88, ../sass/custom.sass */
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #2DC89B;
}

/* texte */
/* line 92, ../sass/custom.sass */
h2 {
  color: #ff3058;
  text-align: center;
  font-weight: bold;
}

/* line 97, ../sass/custom.sass */
h3 {
  color: #ff3058;
}

/* line 101, ../sass/custom.sass */
.indice {
  display: inline-block;
  margin-top: 15px;
  color: #2DC89B;
  font-weight: bold;
}

/* line 107, ../sass/custom.sass */
.logo {
  text-align: center;
  color: #ff3058;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

/* line 114, ../sass/custom.sass */
.wrap-form {
  text-align: center;
}

/* tableau */
/* line 118, ../sass/custom.sass */
.planning {
  width: 100%;
  heaight: 100%;
  color: #383d41;
  text-align: center;
  border: 2px solid #2DC89B;
}
/* line 126, ../sass/custom.sass */
.planning thead td {
  border: 1px solid #fff;
  background: #2DC89B;
  width: 7.0%;
}
/* line 132, ../sass/custom.sass */
.planning tbody tr {
  height: 50px;
}
/* line 135, ../sass/custom.sass */
.planning tbody tr td {
  border: 1px solid #2DC89B;
  width: 7.0%;
}
/* line 139, ../sass/custom.sass */
.planning tbody tr td:nth-of-child(2+n) {
  display: none;
}

/* formulaire */
/* line 143, ../sass/custom.sass */
.form-control {
  background: #383d41;
  color: #fff;
  font-weight: bold;
  margin: 10px auto;
}
/* line 149, ../sass/custom.sass */
.form-control option {
  text-align: center;
  font-weight: bold;
}
/* line 153, ../sass/custom.sass */
.form-control option:focus {
  background: #2DC89B;
}

/* line 157, ../sass/custom.sass */
label {
  width: 100%;
  display: block;
  margin: 15px auto;
  font-weight: 100;
}
/* line 163, ../sass/custom.sass */
label .btn-add-form {
  height: 24px;
  border: 2px solid #fff;
  padding: 2px;
  background: #383d41;
  color: #fff;
  width: 100%;
}
/* line 171, ../sass/custom.sass */
label .btn-add-form-date {
  width: 32%;
  height: 24px;
  border: 2px solid #fff;
  padding: 2px;
  background: #383d41;
  color: #fff;
}

/* line 180, ../sass/custom.sass */
.btn-add-form[type="submit"] {
  background: #fff;
  color: #383d41;
  width: 120px;
  height: 40px;
  display: block;
  margin: 25px auto;
  border: none;
}

/* autres */
/* line 192, ../sass/custom.sass */
hr {
  border-top: 1px solid #69737A;
}

/*  */
/* line 197, ../sass/custom.sass */
.wrap-co {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 220px;
  margin-left: -150px;
  margin-top: -110px;
  border: 1px solid #ff3058;
  box-sizing: padding-box;
  padding: 5px 20px;
}
/* line 209, ../sass/custom.sass */
.wrap-co h3, .wrap-co p {
  text-align: center;
}
/* line 212, ../sass/custom.sass */
.wrap-co input {
  width: 100%;
  margin-bottom: 15px;
  padding: 0 5px;
}

/* line 216, ../sass/custom.sass */
.btn-group-s {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
/* line 222, ../sass/custom.sass */
.btn-group-s .btn-planning, .btn-group-s .btn-planning-admin {
  background: #383d41;
  color: #fff;
  margin: 10px 0;
  width: 150px;
  font-weight: bold;
  position: relative;
}
/* line 230, ../sass/custom.sass */
.btn-group-s .btn-planning:hover, .btn-group-s .btn-planning:focus, .btn-group-s .btn-planning-admin:hover, .btn-group-s .btn-planning-admin:focus {
  background: #2DC89B;
  color: #fff;
}

/* line 237, ../sass/custom.sass */
.btn-planning-admin i {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-height: 750px) {
  /* line 2, ../sass/_responsive.sass */
  footer {
    display: none;
  }
}
@media screen and (max-width: 1545px) {
  /* line 8, ../sass/_responsive.sass */
  label .btn-add-form-date {
    width: 100%;
    display: block;
  }
}
