@charset "UTF-8";
/* S├®mantique */
/* line 4, ../sass/custom.sass */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 9, ../sass/custom.sass */
html body {
  height: 100%;
  position: relative;
  margin: 0;
}
/* line 14, ../sass/custom.sass */
html .bg-header {
  background: #2DC89B;
  padding: 5px 0;
  color: #fff;
  font-weight: bold;
  line-height: 2;
}
/* line 21, ../sass/custom.sass */
html .bg-header img {
  display: block;
  margin: 0 auto;
}
/* line 25, ../sass/custom.sass */
html content {
  float: left;
}
/* line 28, ../sass/custom.sass */
html aside {
  background: #383d41;
  height: 100%;
  position: fixed;
  float: right;
  color: #fff;
}
/* line 35, ../sass/custom.sass */
html aside .wrap {
  margin-top: 25px;
  margin-bottom: 25px;
}
/* line 39, ../sass/custom.sass */
html aside footer {
  margin-top: 50px;
}
/* line 42, ../sass/custom.sass */
html nav {
  padding-top: 5px;
}
/* line 47, ../sass/custom.sass */
html nav li a {
  color: #fff;
  font-weight: bold;
}
/* line 51, ../sass/custom.sass */
html nav li a:hover {
  color: #fff;
}

/* line 55, ../sass/custom.sass */
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #2DC89B;
}

/* texte */
/* line 59, ../sass/custom.sass */
h2 {
  color: #ff3058;
  text-align: center;
  font-weight: bold;
}

/* line 64, ../sass/custom.sass */
h3 {
  color: #ff3058;
}

/* line 68, ../sass/custom.sass */
.indice {
  display: inline-block;
  margin-top: 5px;
  color: #2DC89B;
  font-weight: bold;
}

/* line 74, ../sass/custom.sass */
.logo {
  text-align: center;
  color: #ff3058;
  font-weight: bold;
}

/* tableau */
/* line 80, ../sass/custom.sass */
.planning {
  width: 100%;
  heaight: 100%;
  color: #383d41;
  text-align: center;
  border: 2px solid #2DC89B;
}
/* line 88, ../sass/custom.sass */
.planning thead td {
  border: 1px solid #fff;
  background: #2DC89B;
}
/* line 93, ../sass/custom.sass */
.planning tbody tr {
  height: 50px;
}
/* line 96, ../sass/custom.sass */
.planning tbody tr td {
  border: 1px solid #2DC89B;
  width: 7.0%;
}
/* line 100, ../sass/custom.sass */
.planning tbody tr td:nth-of-child(2+n) {
  display: none;
}

/* formulaire */
/* line 104, ../sass/custom.sass */
.form-control {
  background: #383d41;
  color: #fff;
  font-weight: bold;
  margin: 10px auto;
}
/* line 110, ../sass/custom.sass */
.form-control option {
  text-align: center;
  font-weight: bold;
}
/* line 114, ../sass/custom.sass */
.form-control option:focus {
  background: #2DC89B;
}

/* autres */
/* line 117, ../sass/custom.sass */
hr {
  border-top: 1px solid #69737A;
}
