@import "couleurs"
@import "fonts"

/* bootstrap */
.container-fluid
	height : 100%

	.row
		height : 100%


/* Sémantique */
html
	height : 100%
	margin : 0
	padding : 0

	body
		height : 100%
		margin : 0

	.bg-header
		background : $green
		padding : 5px 0
		color : $white
		font-weight : bold
		line-height : 2

		.school-name
			font-size : 24px
			color : $pink
			text-align : center
			font-family : Pigiarniq

	.content
		float : left
		padding : 0

		.calendar
			padding : 0 15px

	aside.col-lg-2
		background : $grey
		height : 100%
		position : fixed
		color : $white
		padding : 15px 0
		top : 0
		right : 0
		text-align : center

		.wrap
			margin-top : 40px
			margin-bottom : 60px
			

		footer
			margin-top : 50px
			position : absolute
			bottom : 0
			right : 20%
			left : 20%
			text-align : center

	nav
		margin-top : 60px
		
		li
			background : $green
			margin-bottom : 10px
			text-align : center

			a
				color : $white
				font-weight : bold

				&:hover
					color : $white


.nav>li>a:focus, .nav>li>a:hover
	background-color : $green

/* texte */
h2
	color : #ff3058
	text-align : center
	font-weight : bold

h3
	color : #ff3058


.indice
	display : inline-block
	margin-top : 15px
	color : $green
	font-weight : bold

.logo
	text-align : center
	color : $pink
	font-weight : bold
	display : block
	margin : 0 auto

/* tableau */	
.planning
	width : 100%
	heaight : 100%
	color : $grey
	text-align : center
	border : 2px solid $green

	thead
		td
			border : 1px solid $white
			background : $green

	tbody
		tr
			height : 50px

			td
				border : 1px solid $green
				width : 7/100*100%

				&:nth-of-child(2+n)
					display : none

/* formulaire */
.form-control
	background : $grey
	color : $white
	font-weight : bold
	margin : 10px auto

	option
		text-align : center
		font-weight : bold

		&:focus
			background : $green


label
	width : 210px
	display : block
	margin : 15px auto

	.btn-add-form
		height : 24px
		border : 2px solid $white
		padding : 2px
		background : $grey
		color : $white
		width : 100%

	.btn-add-form-date
		width : 30%
		height : 24px
		border : 2px solid $white
		padding : 2px
		background : $grey
		color : $white


.btn-add-form[type="submit"]
	background : $white
	color : $grey
	width : 120px
	height : 40px
	display : block
	margin : 25px auto
	border : none



/* autres */
hr
	border-top : 1px solid $lightGrey

/*  */

.wrap-co
	position : absolute
	left : 50%
	top : 50%
	width : 300px
	height : 220px
	margin-left : -150px
	margin-top : -110px
	border : 1px solid $pink
	box-sizing : padding-box
	padding : 5px 20px

	h3, p
		text-align : center

	input
		width : 100%
		margin-bottom : 15px
		padding : 0 5px

.btn-planning, .btn-planning-admin
	background : $grey
	color : $white
	margin : 10px 0
	width : 150px
	font-weight : bold
	position : relative


.btn-planning-admin

	i
		position : absolute
		right : 10px
		top : 10px